{% extends 'base.html' %}

<title>{% block title  %}Lista de productos{% endblock %}</title>

{%block contenido %}

 <div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href="{% url 'crear' %}" role="button">Agregar producto</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        
    </div>
    <div class="card-footer text-muted">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th >ID</th>
                        <th >Producto</th>
                        <th >Imagen</th>
                        <th >Descripción</th>
                        <th >Precio</th>
                    </tr>
                </thead>

                </tbody>

               
                    <tr>
                        <td >1</td>
                        <td>Nombre de producto</td>
                        <td>imagen.jpg</td>
                        <td>Descripcion del producto</td>
                        <td>$</td>
                        <td><a name="" id="" class="btn btn-info" href="{%url 'editar'%}" role="button">Editar</a>
                             |
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{%endblock%}       