{% extends 'base.html' %}

<title>{% block title  %}Lista de productos{% endblock %}</title>

{%block contenido %}

 
 <div class="card" style="margin-top: 30px;">
    <div class="card-header">
        <h4 class="card-title">Productos</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>                      
                        <th >Producto</th>
                        <th >Imagen</th>
                        <th >Precio</th>
                        <th></th>
                    </tr>
                </thead>

                </tbody>
                    {% for Productos  in producto  %}
                    <tr>
                        <td>{{Productos.producto}}</td>
                        <td>
                            <img src="{{Productos.imagen.url}}" height="150" >
                        </td>
                        <td>${{Productos.precio}}</td>
                        <td><a name="" id="" class="btn btn-info" href="{%url 'editar'%}" role="button">Comprar</a>
                            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
</div>

{%endblock%}     